@{
	ViewBag.Title = "About Page";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This is an about page for our first ASP.Net core MVC app</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-dark">Go To Home Page</a>